@import url(../css/global.css);
@import url(../css/pokemon-colors.css);

.poke-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}
.poke-list .img {
    width: 80px;
    display: block;
    position: absolute;
    bottom: 8px;
    right: 8px;
}
.poke-list .number {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    color: #cccccc73;
    font-size: 12px;
    font-weight: 700;
}
.poke-list__item {
    border-radius: 16px;
    padding: 24px 0 24px 16px;
    position: relative;
    min-height: 150px;
}
.link h2 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    text-transform: capitalize;
}
.poke-type__item {
    color: #fff;
    padding: 4px 8px;
    width: fit-content;
    border-radius: 99999px;
    margin-bottom: 4px;
    font-size: 12px;
    filter: brightness(1.1);
    text-transform: capitalize;
}

@media(min-width: 375px){
    .poke-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 768px){
    .poke-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .poke-list .img {
        max-height: 100px!important;
        display: block;
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
}
@media(min-width: 1200px){
    .poke-list {
        grid-template-columns: repeat(4, 1fr);
    }
}